.registerCustomerStep2 {
    background-image: url('../../../../assets/backgoundimg/customerRegisterBackground.png');
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
}

