.backgroundImg {
    background-image: url('../src/assets/backgoundimg/customerRegisterBackground.png');
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
}
.placeholder-color::placeholder {
    color: #CDE6CD;
}